<!-- Begin Schedule Section -->
<section id="schedule" class="schedule">
    <div class="content-wrapper">
        {% for day in site.data.schedule %}
        <div class="schedule-table col-md-10 col-md-offset-1 col-xs-12">
            <h4 class="schedule-table-heading">{{ day.dateReadable }}</h4>
            <div class="timeslot track-header stick-header">
                <div class="no-padding col-xs-1">
                    <div class="add-borders track-header-label">Day {{ forloop.index }}</div>
                </div>
                <div class="no-padding col-xs-11">
                    <div class="timeslot-elements flexbox-wrapper">
                        {% for track in day.tracks %}
                        {% assign trackColWidth = 12 | divided_by: forloop.length %}
                        <div class="track-header-slot col-xs-{{ trackColWidth }} flexbox-item-height">
                            <h5 class="track-header-title">{{ track.title }}</h5>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class=" container-full">
                <div class="no-padding col-xs-1">
                    {% for timeslot in day.timeslots %}
                    <div class="no-padding timeslot height-1 col-xs-12" itemtype="http://schema.org/subEvent">
                        <div class="timeslot-label">
                            <time class="start-time" itemprop="startDate" datetime="{{ day.dateReadable }}T{{ timeslot }}">
                                {% assign startTime = timeslot | split: ":" %}
                                {{ startTime[0] }}<span>{{ startTime[1] }}</span>
                            </time>
                        </div>
                    </div>
                    {% endfor %}

                </div>

                {% if forloop.index == 1 %}
                <div class="no-padding col-xs-11">

                    <div class=""> <!-- 8:00 - 22:00 -->

                        <div class="no-padding height-1 col-xs-12">
                            <!-- Registration -->
                            {% assign slotIndex = 0 %}
                            {% assign slotSize = 1 %}
                            {% assign slot = 101 %}
                            {% include slot.html %}
                        </div>

                        <!-- Keynote -->
                        <div class="no-padding height-1 col-xs-3">
                            <!-- Keynote -->
                            {% assign slotIndex = 0 %}
                            {% assign slotSize = 1 %}
                            {% assign slot = 68 %}
                            {% include slot.html %}
                        </div>
                        <div class="no-padding height-1 col-xs-9">
                            <!-- Nothing -->
                            {% assign slotIndex = 1 %}
                            {% assign slotSize = 1 %}
                            {% assign slot = 404 %}
                            {% include slot.html %}
                        </div>
                        <!-- /Keynote -->

                        <div class="no-padding height-1 col-xs-12">
                            <!-- Break -->
                            {% assign slotIndex = 0 %}
                            {% assign slotSize = 1 %}
                            {% assign slot = 102 %}
                            {% include slot.html %}
                        </div>

                        <!-- Tracks -->
                        <div class="no-padding col-xs-12"><!-- Track 1&2&3&4 3|3|3|3-->
                            <div class=""><!-- 10:05 - 12:35 -->
                                <div class="no-padding col-xs-3"><!-- Track 1 3|3|3|3 -->
                                    <div class=""> <!-- "Tools of the Trade" by Ty Smith [Uber] -->
                                        <div class="no-padding height-2 col-xs-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 43 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Storing and displaying data with Room and Paging" by Florina Muntenescu [Google] -->
                                        <div class="no-padding height-2 col-xs-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 2 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Kotlin DSLs" by Wolfram Rittmeyer [Openminds] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 66 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-xs-3"><!-- Track 2 3|3|3|3 -->
                                    <div class=""> <!-- "Want to make a change? Stop talking and start listening" by Jonathan Maltz [Yelp inc] -->
                                        <div class="no-padding height-2 col-xs-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 38 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Resources internals" by Mårten Kongstad [Sony mobile communications inc] Zoran Jovanovic [Sony mobile communications inc] -->
                                        <div class="no-padding height-2 col-xs-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 8 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "De la conception à la livraison d'un SDK: retour d'expérience" by Djavan Bertrand [Parrot] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 28 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-xs-3"><!-- Track 3 3|3|3|3-->
                                    <div class=""> <!-- "Les mauvaises surcouches constructeurs sont-elles du passé ?" by Mathieu Hausherr [Virtuo] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 22 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Accessibilité sur Android : comprendre les aveugles pour répondre à leur besoin" by Thierry LEE [Octo technology] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 23 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Sign here please!" by Ana Baotić [Asseco see] -->
                                        <div class="no-padding height-2 col-xs-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 40 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Check your app's vitals" by Wojtek Kaliciński [Google] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 3 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-xs-3"><!-- Track 4 3|3|3|3-->
                                    <div class=""> <!-- "Let's make some noise with Android" by Yannick Lemin [TechYOS] -->
                                        <div class="no-padding height-2 col-xs-12">
                                            {% assign slotIndex = 3 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 54 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Traitement d'image simple et rapide avec Renderscript" by Quentin Menini [Pictarine] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 3 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 24 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "OK Google, déploie mon App en prod !" by Thomas Salandre [Meetic] Damien Locque [Meetic] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 3 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 25 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Ghost in the Machine - Bridging VR and IoT" by Etienne Caron [Shopify] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 3 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 6 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class=""> <!-- Lunch 12:35 - 13:35-->
                                <div class="no-padding height-1 col-xs-12">
                                    {% assign slotIndex = 0 %}
                                    {% assign slotSize = 1 %}
                                    {% assign slot = 103 %}
                                    {% include slot.html %}
                                </div>
                            </div>

                            <div class=""><!-- 13:35 - 16:05 -->
                                <div class="no-padding col-xs-3"><!-- Track 1 3|3|3|3 -->
                                    <div class=""> <!-- "ConstraintLayout 2.0" by Nicolas Roard [Google] John Hoford [Google] -->
                                        <div class="no-padding height-2 col-xs-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 4 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Design Tools and Handoffs**" by Taylor Ling [Fabulous] -->
                                        <div class="no-padding height-2 col-xs-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 18 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Themes, styles & more: from zero to hero" by Cyril Mottier [Zenly] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 19 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-xs-3"><!-- Track 2 3|3|3|3 -->
                                    <div class=""> <!-- "Android Gradle Plugin internals." by ? [Google inc.] -->
                                        <div class="no-padding height-2 col-xs-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 69 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Gérer vos tests d'UI de manière simple et efficace" by Yann Popo [Leboncoin] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 30 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Place de Gitlab au sein des process d'une équipe mobile" by Marc Daniel [Nokia Digital Health] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 35 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Android ou l'ART d'optimiser le code Java" by Adrien Grassein [Smile - ecs] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 29 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-xs-3"><!-- Track 3 3|3|3|3-->
                                    <div class=""> <!-- "From ProGuard to R8(shrinker): Take care of your Bytecode" by Qian Jin [Xebia] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 26 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Android all the things!" by Marc Poppleton [Orange labs] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 27 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "The JPEG of 3D: Bringing 3D scenes and objects into your 2D Android app with glTF" by Pierre-Antoine LaFayette [Facebook] -->
                                        <div class="no-padding height-2 col-xs-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 12 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Travelling across Asia - Our journey from Java to Kotlin" by Amal Kakaiya [Deliveroo] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 58 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-xs-3"><!-- Track 4 3|3|3|3-->
                                    <div class=""> <!-- "Using Support Library for Android Oreo : Fonts, Emoji and Text" by Anita Singh [Winnie] -->
                                        <div class="no-padding height-2 col-xs-12">
                                            {% assign slotIndex = 3 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 57 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Kotlinify your Gradle" by Alexander Gherschon [Myheritage] -->
                                        <div class="no-padding height-2 col-xs-12">
                                            {% assign slotIndex = 3 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 45 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Android DevOps: Espresso on Genymotion in AWS" by Michael Aubert [Starling bank] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 3 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 59 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class=""> <!-- Break - 16:05 - 16:25 -->
                                <div class="no-padding height-1 col-xs-12">
                                    {% assign slotIndex = 0 %}
                                    {% assign slotSize = 1 %}
                                    {% assign slot = 102 %}
                                    {% include slot.html %}
                                </div>
                            </div>

                            <div class=""><!-- 16:25 - 18:55 -->
                                <div class="no-padding col-xs-3"><!-- Track 1 3|3|3|3 -->
                                    <div class=""> <!-- "Creating Layouts doesn’t have to be painful" by Vadim Caen [Google] Jerome Gaillard [Google] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 5 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "The State of Representing State" by CHRISTINA LEE [Pinterest] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 16 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class="no-padding height-1 col-xs-12">
                                        <!-- Nothing -->
                                        {% assign slotIndex = 0 %}
                                        {% assign slotSize = 1 %}
                                        {% assign slot = 404 %}
                                        {% include slot.html %}
                                    </div>
                                </div>
                                <div class="no-padding col-xs-3"><!-- Track 2 3|3|3|3 -->
                                    <div class=""> <!-- "Remote control your application" by Stan Kocken [Dashlane] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 31 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Application monolithique, c'est pas automatique" by Antoine Descamps [Amiltone] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 32 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Reusable Cross-Platform Frameworks with Kotlin/Native" by Simone Civetta [Xebia IT Architects] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 42 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-xs-3"><!-- Track 3 3|3|3|3-->
                                    <div class=""> <!-- "Commonly Overlooked Areas of Security" by Clive HG Lee [Ovia Health] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 46 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "ADB, Break On Through To the Other Side" by Eyal LEZMY [Qonto] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 62 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Adding conversational features to your mobile app" by Elaine Dias Batista [Sfeir] Jade Chabaro [Self employed] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 47 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-xs-3"><!-- Track 4 3|3|3|3-->
                                    <div class=""> <!-- "Party like it's 1970: Conversational interfaces are back (into your Android app)" by Adrian Catalan [Bit&ik'] Carmen Lucía González Peralta [Media managers] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 3 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 60 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Kotlin Backstage" by Mitchell tilbrook [Moneytree] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 3 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 61 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Migrating from installed to instant app, a retrospective" by Ben Weiss [Google] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 3 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 21 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Tracks -->

                        <!-- Party -->
                        <div class="no-padding height-1 col-xs-12">
                            {% assign slotIndex = 0 %}
                            {% assign slotSize = 1 %}
                            {% assign slot = 104 %}
                            {% include slot.html %}
                        </div>
                        <!-- /Party -->
                    </div>

                </div>
                {% elsif forloop.index == 2 %}
                <div class="no-padding col-xs-11">

                    <div class=""> <!-- 8:30 - 20:00 -->

                        <div class="no-padding height-1 col-xs-12">
                            <!-- Opening -->
                            {% assign slotIndex = 0 %}
                            {% assign slotSize = 1 %}
                            {% assign slot = 106 %}
                            {% include slot.html %}
                        </div>

                        <!-- Tracks -->
                        <div class="no-padding col-xs-12"><!-- Track 1&2&3&4 3|3|3|3-->
                            <div class=""><!-- 09:00 - 10:45 -->
                                <div class="no-padding col-xs-3"><!-- Track 1 3|3|3|3 -->
                                    <div class="no-padding height-2 col-xs-12">
                                        <!-- Nothing -->
                                        {% assign slotIndex = 0 %}
                                        {% assign slotSize = 2 %}
                                        {% assign slot = 404 %}
                                        {% include slot.html %}
                                    </div>
                                    <div class=""> <!-- autre conf Romain & Chet -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 72 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-xs-3"><!-- Track 2 3|3|3|3 -->
                                    <div class=""> <!-- "Lint for Life: Your Customizable Guard On the Go" by Snow Zhao [Groupon] -->
                                        <div class="no-padding height-2 col-xs-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 70 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Add some reality to your app with ArCore" by Yuliya Kaleda [Jet.com] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 48 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-xs-3"><!-- Track 3 3|3|3|3-->
                                    <div class=""> <!-- "Android Auto, vos médias dans votre voiture." by Antoine DANOIS -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 55 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Explore Kotlin.Collections API" by Kirill Suslov [Shopify] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 56 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Par delà le MediaRouter, fabriquons notre FooBarCast !" by Pierre Crépieux [Orange] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 36 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-xs-3"><!-- Track 4 3|3|3|3-->
                                    <div class=""> <!-- "Frustration-free orientation changes" by Cketti . [-] -->
                                        <div class="no-padding height-2 col-xs-12">
                                            {% assign slotIndex = 3 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 63 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Bootstrapping multiplatform development and Android Wear" by Hoi Lam [Google] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 3 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 64 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class=""> <!-- Break - 10:45 - 10:55 -->
                                <div class="no-padding height-1 col-xs-12">
                                    {% assign slotIndex = 0 %}
                                    {% assign slotSize = 1 %}
                                    {% assign slot = 102 %}
                                    {% include slot.html %}
                                </div>
                            </div>

                            <div class=""><!-- 10:55 - 12:35 -->
                                <div class="no-padding col-xs-3"><!-- Track 1 3|3|3|3 -->
                                    <div class=""> <!-- "Lifecycle, LiveData, ViewModels - The inner wiring" by Florina Muntenescu [Google] -->
                                        <div class="no-padding height-2 col-xs-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 1 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Reduce, reuse, recycle ♻️" by Nick Butcher [Google] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 10 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-xs-3"><!-- Track 2 3|3|3|3 -->
                                    <div class=""> <!-- "The Curious Case of Android Button" by Nicola Corti [Yelp inc.] -->
                                        <div class="no-padding height-2 col-xs-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 39 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Rock the Gradle, rule the world" by Xavier F. Gouchet [Workwell] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 37 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-xs-3"><!-- Track 3 3|3|3|3-->
                                    <div class=""> <!-- "Quickly build your app alone with Firebase." by Renaud Mathieu [Ex-trainline] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 50 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Better, Faster Code Reviews in an Agile World"  by Stanojko Markovik [Contentsquare] Marius Constantin [Contentsquare] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 49 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Pragmatic Testing" by Zac Sweers [Uber] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 67 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-xs-3"><!-- Track 4 3|3|3|3-->
                                    <div class=""> <!-- Parrot Auto TBD -->
                                        <div class="no-padding height-2 col-xs-12">
                                            {% assign slotIndex = 3 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 73 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Vectorial Victories" by François Blavoet [Instacart] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 3 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 13 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class=""> <!-- Lunch 12:35 - 13:35-->
                                <div class="no-padding height-1 col-xs-12">
                                    {% assign slotIndex = 0 %}
                                    {% assign slotSize = 1 %}
                                    {% assign slot = 103 %}
                                    {% include slot.html %}
                                </div>
                            </div>

                            <div class=""><!-- 13:35 - 16:05 -->
                                <div class="no-padding col-xs-3"><!-- Track 1 3|3|3|3 -->
                                    <div class=""> <!-- "Tips for Library Development (from a Startup Developer)" by Lisa Wray [Present] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 15 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Who’s afraid of Machine Learning? First steps with TensorFlow for Android." by Britt Barak -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 17 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Better asynchronous programming with Kotlin Coroutines" by Erik Hellman [Hellsoft] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 14 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-xs-3"><!-- Track 2 3|3|3|3 -->
                                    <div class=""> <!-- "Portable Material: Flutter physical models" by Sebastiano Poggi [Novoda] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 11 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "De la domotique faite-maison avec Android Things et le Google Assistant" by Gautier MECHLING [Nilhcem] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 34 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Dagger-android, under the hood" by Yannick Badoual [Deezer] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 33 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-xs-3"><!-- Track 3 3|3|3|3-->
                                    <div class=""> <!-- "Hands on with ConstraintLayout" by Erik Hellman [Hellsoft] -->
                                        <div class="no-padding height-3 col-xs-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 3 %}
                                            {% assign slot = 52 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-xs-3"><!-- Track 4 3|3|3|3-->
                                    <div class=""> <!-- "Android Leaks at Android Makers take 2" by Benjamin Monjoie [Appkers] Yannick Lemin [Techyos] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 3 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 65 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Up close and personal with Nearby" by Hugo Visser [Little robots] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 3 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 51 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "The bytecode gobbledygook" by Raimon Ràfols [Axa] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 3 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 7 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class=""><!-- 16:05 - 16:25 (+workshop in track 3) -->
                                <div class="no-padding col-xs-6"><!-- Track 1&2 6|3|3 -->
                                    <div class=""> <!-- Break - 16:05 - 16:25 -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 102 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-xs-3"><!-- Track 3 6|3|3-->
                                    <div class=""> <!-- "Hands-on Android Architecture & Architecture Components" by Arnaud Giuliani [Ekito] Laurent Baresse [] Florina Muntenescu [Google] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 53 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-xs-3"><!-- Track 4 6|3|3-->
                                    <div class=""> <!-- Break - 16:05 - 16:25 -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 3 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 102 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                </div>

                            <div class=""><!-- 16:25 - 18:05 (track 1&2&4, no workshop)-->
                                <div class="no-padding col-xs-3"><!-- Track 1 3|3|3|3 -->
                                    <div class=""> <!-- "Gradle in Android Studio 3.2 and beyond" by Alex Ruiz [Google] -->
                                        <div class="no-padding height-2 col-xs-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 9 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "The big rewrite" by Jeroen Mols [Philips Hue] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 20 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-xs-3"><!-- Track 2 3|3|3|3 -->
                                    <div class=""> <!-- "Modules in 7 steps" by Oleg Petshjonkin [Trainline] -->
                                        <div class="no-padding height-2 col-xs-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 44 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- "Push Notifications that Don’t Suck" by Zan Markan [Pusher] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 41 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-xs-3"><!-- Track 3 3|3|3|3-->
                                </div>
                                <div class="no-padding col-xs-3"><!-- Track 4 3|3|3|3-->
                                    <div class=""> <!-- "When Metrics Lie" by Ryan Cooke [Pinterest] -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 3 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 71 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- APP CLINIC -->
                                        <div class="no-padding height-2 col-xs-12">
                                            {% assign slotIndex = 3 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 74 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class=""><!-- 18:05 - 18:55 -->
                                <div class="no-padding col-xs-3"><!-- Track 1 3|9 -->
                                    <div class=""> <!-- Closing conf by Romain and Chet -->
                                        <div class="no-padding height-1 col-xs-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 75 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-xs-9"><!-- Track 2&3&4 3|9 -->
                                    <div class="no-padding height-1 col-xs-12">
                                        <!-- Nothing -->
                                        {% assign slotIndex = 1 %}
                                        {% assign slotSize = 1 %}
                                        {% assign slot = 404 %}
                                        {% include slot.html %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Tracks -->

                        <!-- Goodbye -->
                        <div class="no-padding height-1 col-xs-12">
                            {% assign slotIndex = 0 %}
                            {% assign slotSize = 1 %}
                            {% assign slot = 105 %}
                            {% include slot.html %}
                        </div>
                        <!-- /Goodbye -->
                    </div>

                </div>
                {% endif %}

            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- End Schedule Section -->
