<!-- Begin Schedule Section -->
<section id="schedule" class="schedule">
    <div class="content-wrapper">
        {% for day in site.data.schedule %}
        <div class="schedule-table col-lg-8 col-md-10 col-md-offset-1">
            <h4 class="schedule-table-heading">{{ day.dateReadable }}</h4>
            <div class="timeslot track-header stick-header">
                <div class="track-header-label">Day {{ forloop.index }}</div>
                <div class="timeslot-elements flexbox-wrapper">
                    {% for track in day.tracks %}
                    {% assign trackColWidth = 12 | divided_by: forloop.length %}
                    <div class="track-header-slot col-md-{{ trackColWidth }} flexbox-item-height hidden-xs">
                        <h5 class="track-header-title">{{ track.title }}</h5>
                    </div>
                    {% endfor %}
                    <div class="track-header-slot col-xs-12 visible-xs">
                        <h5 class="slot-detail track-header-title"></h5>
                    </div>
                </div>
            </div>

            <div class=" container-full">
                <div class="no-padding col-md-1 col-xs-1">
                    {% for timeslot in day.timeslots %}
                    <div class="timeslot height-1 col-md-12" itemtype="http://schema.org/subEvent">
                        <div class="timeslot-label">
                            <time class="start-time" itemprop="startDate" datetime="{{ day.dateReadable }}T{{ timeslot }}">
                                {% assign startTime = timeslot | split: ":" %}
                                {{ startTime[0] }}<span>{{ startTime[1] }}</span>
                            </time>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="no-padding col-md-11 col-xs-11">

                    <div class=""> <!-- 8:00 - 22:00 -->

                        <div class="no-padding height-1 col-md-12">
                            <!-- Registration -->
                            {% assign slotIndex = 0 %}
                            {% assign slotSize = 1 %}
                            {% assign slot = 101 %}
                            {% include slot.html %}
                        </div>

                        <!-- Keynote -->
                        <div class="no-padding height-1 col-md-8">
                            <!-- Keynote -->
                            {% assign slotIndex = 0 %}
                            {% assign slotSize = 1 %}
                            {% assign slot = 41 %}
                            {% include slot.html %}
                        </div>
                        <div class="no-padding height-1 col-md-4">
                            <!-- Nothing -->
                            {% assign slotIndex = 2 %}
                            {% assign slotSize = 1 %}
                            {% assign slot = 404 %}
                            {% include slot.html %}
                        </div>
                        <!-- /Keynote -->

                        <!-- Tracks -->
                        <div class="no-padding col-md-12"><!-- talk tracks 9 -->
                            <div class=""><!-- 9:45 - 18:00 -->
                                <div class="no-padding col-md-8"><!-- Track 1&2 8|4-->
                                    <div class=""><!-- 9:45 - 13:35 -->
                                        <div class="no-padding height-1 col-md-12">
                                            <!-- Break -->
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 102 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""><!-- 10:15 - 13:35 -->
                                        <div class="no-padding col-md-6"><!-- Track 1 6|6 -->
                                            <div class=""> <!-- Deep Android Integrations -->
                                                <div class="no-padding height-2 col-md-12">
                                                    {% assign slotIndex = 0 %}
                                                    {% assign slotSize = 2 %}
                                                    {% assign slot = 31 %}
                                                    {% include slot.html %}
                                                </div>
                                            </div>
                                            <div class=""> <!-- Launch Screens -->
                                                <div class="no-padding height-2 col-md-12">
                                                    {% assign slotIndex = 0 %}
                                                    {% assign slotSize = 2 %}
                                                    {% assign slot = 2 %}
                                                    {% include slot.html %}
                                                </div>
                                            </div>
                                            <div class=""> <!-- RxJava est mort -->
                                                <div class="no-padding height-2 col-md-12">
                                                    {% assign slotIndex = 0 %}
                                                    {% assign slotSize = 2 %}
                                                    {% assign slot = 28 %}
                                                    {% include slot.html %}
                                                </div>
                                            </div>
                                            <div class=""> <!-- Remote -->
                                                <div class="no-padding height-2 col-md-12">
                                                    {% assign slotIndex = 0 %}
                                                    {% assign slotSize = 2 %}
                                                    {% assign slot = 39 %}
                                                    {% include slot.html %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="no-padding col-md-6"><!-- Track 2 6|6 -->
                                            <div class=""> <!-- LeBonCoin -->
                                                <div class="no-padding height-1 col-md-12">
                                                    {% assign slotIndex = 1 %}
                                                    {% assign slotSize = 1 %}
                                                    {% assign slot = 57 %}
                                                    {% include slot.html %}
                                                </div>
                                            </div>
                                            <div class=""> <!-- Industrialisation -->
                                                <div class="no-padding height-1 col-md-12">
                                                    {% assign slotIndex = 1 %}
                                                    {% assign slotSize = 1 %}
                                                    {% assign slot = 42 %}
                                                    {% include slot.html %}
                                                </div>
                                            </div>
                                            <div class=""> <!-- Let's Get Functional ? -->
                                                <div class="no-padding height-1 col-md-12">
                                                    {% assign slotIndex = 1 %}
                                                    {% assign slotSize = 1 %}
                                                    {% assign slot = 43 %}
                                                    {% include slot.html %}
                                                </div>
                                            </div>
                                            <div class=""> <!-- Pages Jaunes -->
                                                <div class="no-padding height-1 col-md-12">
                                                    {% assign slotIndex = 1 %}
                                                    {% assign slotSize = 1 %}
                                                    {% assign slot = 58 %}
                                                    {% include slot.html %}
                                                </div>
                                            </div>
                                            <div class=""> <!-- Merge like it's 2099 -->
                                                <div class="no-padding height-1 col-md-12">
                                                    {% assign slotIndex = 1 %}
                                                    {% assign slotSize = 1 %}
                                                    {% assign slot = 44 %}
                                                    {% include slot.html %}
                                                </div>
                                            </div>
                                            <div class=""> <!-- Mobile Print -->
                                                <div class="no-padding height-1 col-md-12">
                                                    {% assign slotIndex = 1 %}
                                                    {% assign slotSize = 1 %}
                                                    {% assign slot = 56 %}
                                                    {% include slot.html %}
                                                </div>
                                            </div>
                                            <div class=""> <!-- Android wear -->
                                                <div class="no-padding height-2 col-md-12">
                                                    {% assign slotIndex = 1 %}
                                                    {% assign slotSize = 1 %}
                                                    {% assign slot = 54 %}
                                                    {% include slot.html %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-md-4"><!-- Track 3 8|4-->
                                    <div class=""> <!-- Météo Kotlin -->
                                        <div class="no-padding height-7 col-md-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 7 %}
                                            {% assign slot = 50 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- Genius Scan et NDK -->
                                        <div class="no-padding height-1 col-md-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 51 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- Développer un jeu vidéo -->
                                        <div class="no-padding height-1 col-md-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 7 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=""> <!-- Lunch -->
                                <div class="no-padding height-1 col-md-12">
                                    {% assign slotIndex = 0 %}
                                    {% assign slotSize = 1 %}
                                    {% assign slot = 103 %}
                                    {% include slot.html %}
                                </div>
                            </div>
                            <div class=""><!-- 13:50 - 18:00 -->
                                <div class="no-padding col-md-4"><!-- Track 1 4|4|4-->
                                    <div class=""> <!-- Android Things for IoT -->
                                        <div class="no-padding height-2 col-md-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 55 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- How to reactively load and cache data -->
                                        <div class="no-padding height-2 col-md-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 18 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- Taking care of your UI tests -->
                                        <div class="no-padding height-2 col-md-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 10 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- The Fabulous Journey to Material Design Award -->
                                        <div class="no-padding height-2 col-md-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 1 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- Build together, not the same -->
                                        <div class="no-padding height-2 col-md-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 2 %}
                                            {% assign slot = 21 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-md-4"><!-- Track 2 4|4|4-->
                                    <div class=""> <!-- The ART of organizing resources -->
                                        <div class="no-padding height-1 col-md-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 5 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- Android Auto -->
                                        <div class="no-padding height-1 col-md-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 6 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- ExoPlayer -->
                                        <div class="no-padding height-1 col-md-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 45 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- Mode offline -->
                                        <div class="no-padding height-1 col-md-12">
                                            {% assign slotIndex = 0 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 46 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- Faites chauffer les neurones -->
                                        <div class="no-padding height-1 col-md-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 8 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- One year of Clean Architecture -->
                                        <div class="no-padding height-1 col-md-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 29 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- Les modules Android -->
                                        <div class="no-padding height-1 col-md-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 47 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- Kotlin in the real world -->
                                        <div class="no-padding height-1 col-md-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 48 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- OpenGL, a noob's guide -->
                                        <div class="no-padding height-1 col-md-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 49 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- Android and Pepper -->
                                        <div class="no-padding height-1 col-md-12">
                                            {% assign slotIndex = 1 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 11 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                                <div class="no-padding col-md-4"><!-- Track 3 4|4|4-->
                                    <div class=""> <!-- Automatiser avec Fastlane  -->
                                        <div class="no-padding height-1 col-md-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 52 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- Gomobile at Zenly -->
                                        <div class="no-padding height-1 col-md-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 1 %}
                                            {% assign slot = 53 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                    <div class=""> <!-- Workshop on Android Things for IoT -->
                                        <div class="no-padding height-8 col-md-12">
                                            {% assign slotIndex = 2 %}
                                            {% assign slotSize = 8 %}
                                            {% assign slot = 4 %}
                                            {% include slot.html %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Tracks -->

                        <!-- Party -->
                        <div class="no-padding height-1 col-md-12">
                            {% assign slotIndex = 0 %}
                            {% assign slotSize = 1 %}
                            {% assign slot = 104 %}
                            {% include slot.html %}
                        </div>
                        <!-- /Party -->
                    </div>

                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- End Schedule Section -->
